<div class="row mt-3">    
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Franchise Home Screen
            </div>
            <div class="card-body">
                @Html.ActionLink("Locations", "Index", "Locations", routeValues: null, htmlAttributes: new { @class = "btn btn-block button-blue" })
                @Html.ActionLink("Stock Order", "Index", "StockOrder", routeValues: null, htmlAttributes: new { @class = "btn btn-block button-blue" })
                @Html.ActionLink("Reports", "Index", "Reports", routeValues: null, htmlAttributes: new { @class = "btn btn-block button-blue" })              
            </div>
        </div> 
    </div>   
</div>