@model MVCInBuiltFeatures.Models.Location

<div class="row mt-3">    
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                @Model.Name
            </div>
            <p class="paragraph-margins">
                @Model.Address
            </p>
            <div class="card-body">
                @Html.ActionLink("Stock Fill", "StockFill", "Location", routeValues: new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-block button-blue" })
                @Html.ActionLink("Client Info", "Index", "Client", routeValues: new { id = Model.ClientId }, htmlAttributes: new { @class = "btn btn-block button-blue" })
            </div>
        </div> 
    </div>   
</div>