

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="Index.html">Home</a></li>
                    <li class="breadcrumb-item active">Locations</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">    
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Order Machine
            </div>
            
            <div class="card-body">
                
            </div>
        </div> 
    </div>   
</div>